<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'register.css' %}" />
</head>

<body>
{% if form %}
<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please sign up for Forkilla <small>It's free!</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form action="" method="post">
                            {% csrf_token %}
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                        {{ form.username }}
			                            <!--<input type="text" name="id_username" id="id_username" class="form-control input-sm" placeholder="Username">-->
			    					</div>
			    				</div>
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                        {{ form.password1 }}
			    						<!--<input type="password" name="password1" id="password1" class="form-control input-sm" placeholder="Password">-->
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                                        {{ form.password2 }}
			    						<!--<input type="password" name="password2" id="password2" class="form-control input-sm" placeholder="Confirm Password">-->
			    					</div>
			    				</div>
			    			</div>

			    			<input type="submit" value="Create the account" class="btn btn-info btn-block">

			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
{% endif %}
</body>
</html>