<!DOCTYPE html>
<html lang="en">
{% extends 'forkilla/base.html' %}
{% block content%}
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
    <ul class="breadcrumb" style="background-color: transparent;">
        <li><a href="/forkilla/restaurants/">Home</a></li>
    </ul>
    <div class="jumbotron text-xs-center">
        {% if resultat %}
            <h1 class="display-3">Reserva realitzada amb éxit!"</h1>
        {% else %}
            <h3><h1 class="display-3">Oooops! Alguna cosa no ha sortit bé!</h1></h3>
        {% endif %}
          <p class="lead">
            <a class="btn btn-primary btn-sm" href="/forkilla/restaurants/" role="button">Continue to homepage</a>
        </p>
    </div>

</body>
</html>
{% endblock %}
