<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Comparator</title>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script> src="{% static 'comparator/Comparator.js' %}"</script>
</head>
<body>

    <label for="sel2">Select a category: </label>
    <select class="form-control" id="category_selector">

            <option></option>

            <option>Rice</option>

            <option>Fusi</option>

            <option>BBQ</option>

            <option>Chin</option>

            <option>Medi</option>

            <option>Crep</option>

            <option>Hind</option>

            <option>Japa</option>

            <option>Ital</option>

            <option>Mexi</option>

            <option>Peru</option>

            <option>Russ</option>

            <option>Turk</option>

            <option>Basq</option>

            <option>Vegy</option>

            <option>Afri</option>

            <option>Egyp</option>

            <option>Grek</option>

    </select>

      <label for="inputCity">Input a City: </label>
      <input type="text" class="form-control" id="inputCity">
    <br>
      <label for="inputPrice">Input a Price: </label>
      <input type="text" class="form-control" id="inputPrice">
    <br>
    <div id="ips" hidden="hidden"> ['sd2019-f4-forkilla']</div>
    <button class="btn btn-info btn-sm" onclick="comparar()">Send Request! </button>



</body>
</html>