{% extends "forkilla/base.html" %}

{% block content %}

    <head>
        {% load static %}
        <script src="{% static 'comparator/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'comparator/Comparator.js' %}"></script>
    </head>
    <h2>Comparator</h2>
    <div style="margin: 10px;">
        City: <input type="text" id="city">
    </div>
    <div style="margin: 10px;">
        Category:
        <select class="select" id="category">
              <option value="">Others</option>
              <option value="Fusi">Fusion</option>
              <option value="Rice">Rice</option>
              <option value="BBQ">Barbecue</option>
              <option value="Chin">Chinese</option>
              <option value="Medi">Mediterranean</option>
              <option value="Crep">Creperie</option>
              <option value="Hind">Hindu</option>
              <option value="Japa">Japanese</option>
              <option value="Ital">Italian</option>
              <option value="Mexi">Mexican</option>
              <option value="Peru">Peruvian</option>
              <option value="Russ">Russian</option>
              <option value="Turk">Turkish</option>
              <option value="Basq">Basque</option>
              <option value="Vegy">Vegetarian</option>
              <option value="Afri">African</option>
              <option value="Egyp">Egyptian</option>
              <option value="Grek">Greek</option>
            </select>
    </div>
    <div style="margin: 10px;">
        Maximum price: <input type="text" id="price">
    </div>

    <div id="ips" hidden="hidden"> {{ ips }}</div>

    <button style="margin: 10px;" onclick="javascript:comparar()">GET ALL</button>
{% endblock %}