<!DOCTYPE html>
<html lang="en">
{% extends 'forkilla/base.html' %}
{% block content%}
{% load static %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        {% if restaurant %}
            <title>{{restaurant.name}}</title>
        {% else %}
            <title>Not found</title>
        {% endif %}
    </head>
    <body>
        <div class="details">
            {% if restaurant %}
                <ul class="breadcrumb" style="color:transparent">
                    <li><a href="/forkilla/restaurants/">Home</a></li>
                    <li><a href="/forkilla/restaurants/{{ restaurant.city }}">{{ restaurant.city }}</a></li>
                    <li><a href="/forkilla/restaurants/{{ restaurant.city }}/{{ restaurant.category }}">{{ restaurant.category }}</a></li>
                    <li style="color: #d8b511">{{ restaurant.name }}</li>
                </ul>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{ restaurant.name }}</td>
                            </tr>

                            <tr>
                                <th>Restaurant Number</th>
                                <td>{{ restaurant.restaurant_number }}</td>
                            </tr>

                            <tr>
                                <th>Menu Description</th>
                                <td>{{ restaurant.menu_description }}</td>
                            </tr>

                            <tr>
                                <th>Price Average</th>
                                <td>{{ restaurant.price_average }}</td>
                            </tr>

                            <tr>
                                <th>City</th>
                                <td>{{ restaurant.city }}</td>
                            </tr>

                            <tr>
                                <th>Address</th>
                                <td>{{ restaurant.address }}</td>
                            </tr>

                            <tr>
                                <th>Country</th>
                                <td>{{ restaurant.country }}</td>
                            </tr>

                            <tr>
                                <th>Score</th>
                                <td>{{ restaurant.rate }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            {% endif %}
            <br>
            {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <textarea name="review_message" rows="10" cols="30" placeholder="Expressi aqui les seves opinions."></textarea>
                <br>
                    <p>Entri la puntuacio del restaurant</p>
                    <select name="stars">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                <br><br>
                <input type="submit">
            </form>
            {% endif %}

            {% if comments %}
                <h3>Reviews del restaurant {{ restaurant.name }}</h3>
                {% for comment in comments %}
                    <p>Usuari: {{ comment.user }} </p>
                    <p>Puntuacio: {{ comment.stars }}</p>
                    {{ comment.review_message }}
                    <br><br>
                {% endfor %}
            {% else %}
                <h3>No hi ha reviews disponibles pel restaurant {{ restaurant.name }}</h3>
            {% endif %}
        </div>

    </body>
{% endblock %}
</html>
