<!DOCTYPE html>
<html lang="en">
{% extends 'forkilla/base.html' %}
{% block content%}
<head>
    <meta charset="UTF-8">
    <title>Reserves.</title>
</head>
    <body>

        {% if reserved_restaurants %}

            {% if future %}
                  {% for reservation in future %}
                      <h3>{{ reservation.restaurant.name }}</h3><p>: {{ reservation.day}} </p>
                      <form action="{% url 'delete_view' pk=reservation.id %}" method="POST">
                          {% csrf_token %}
                          <button type="submit" value="Delete">Delete</button>
                      </form>
                    <br>
                {% endfor %}
            {% endif %}

            {% if past %}
                {% for reservation, reviewed in past %}
                    <h3>{{ reservation.restaurant.name }}</h3><p>: {{ reservation.day }} </p>
                    {% if reviewed %}
                        <form action="{% url 'delete_view' pk=reservation.id %}" method="POST">
                          {% csrf_token %}
                          <button type="submit" value="Delete">Delete</button>
                      </form>
                    {% else %}
                        <form action="{% url 'details' reservation.restaurant.restaurant_number %}" method="get">
                            <button>Review</button>
                        </form>
                    {% endif %}
                    <br>
                {% endfor %}
            {% endif %}

        {% endif %}

    </body>
{% endblock %}
</html>