{% extends 'forkilla/base.html' %}

{% block content %}
{% load static %}
    <head>
    <title>Home</title>
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'style.css'%}" rel="stylesheet">
    </head>

    <body>
        {% if city and category %}

            <ul class="breadcrumb">reservation
                <li><a href="/forkilla/restaurants/">Home</a></li>
                <li><a href="/forkilla/restaurants/{{ city }}">{{ city }}</a></li>
                <li>{{ category }}</li>
            </ul>
        {% elif city %}
            <ul class="breadcrumb">
                <li><a href="/forkilla/restaurants/">Home</a></li>
                <li>{{ city }}</li>
            </ul>
        {% endif %}
        <div class="restaurantss">
        {% if restaurants %}
            {% if promoted %}
                <h2>Promoted Restaurants</h2>
            {% endif %}
            <div class="container" style="max-width:1100px"></div>
             <form action="{% url 'reservation'%}" method="get">
                 {% for restaurant in restaurants %}
                     <div class="card">
                        <div class="card-header">
                            <h3><a href="{% url 'details' restaurant.restaurant_number%}"> {{restaurant.name}} </a> </h3>

                        <button type="submit" class="btn btn-primary btn-sm" style="position:relative; float:right; color:white" name="reservation" value={{restaurant.restaurant_number}}> Reserva</button>
                        </div>
                        <div class="card-body">
                            <p class="text-info">{{restaurant.menu_description}}</p>
                        </div>
                     </div>
                    <br>
                {% endfor %}
            </form>
        </div>

        {% else %}
            <p>No restaurants are available.</p>
        {% endif %}
        </div>
    </body>
{% endblock %}