<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="POST">
      <textarea name="review_message" rows="10" cols="30">Expressi aqui les seves opinions.</textarea>
      <br>
      	<p>Entri la puntuacio del restaurant</p>
        <select name="stars">
          <option value="zero">0</option>
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
          <option value="five">5</option>
        </select>
      <br><br>
      <input type="submit">
    </form>

</body>
</html>