ul li a:link {
    color: hotpink;
}

ul li a:visited {
    color: green;
}

a:link {
    color: hotpink;
}

a:visited {
    color:green;
}

h2 {
    color: blue;
}

.page-header {
    background: #92651B;
    padding: 20px 20px 20px 40px;
}

.last-viewed {
    background-color: #AA7F39;
    text-align: center;
}

.col1 {
    float:left;
    text-align: center;
    width: 33.33%;

}

.col2 {
    float:left;
    text-align: center;
    width: 33.33%;
    margin-top: 50px;

}

.col3 {
    float:left;
    text-align: center;
    width: 33.33%;

}

.col3 h3 {
    display: inline
}

.col3 p {
    display: inline;
}

.page-header:after {
    content: "";
    display: table;
    clear: both;
}

.restaurantss {
    background-image: url("Images/background.jpg");
    height: 1080px;
    width: auto;
}

.details {
    background-color: #AA7F39;
}
