body{
    background-color: #333333;
}

ul li a:link {
    color: #a0cb44;
}

ul li a:visited {
    color: green;
}

a:link {
    color: #a0cb44;
}

a:visited {
    color:green;
}

h2 {
    color: white;
}

h3 {
    color:white;
}

text {
    color: white;
}

p {
    color: white;
}

table.center {
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    border-color: rgba(255, 255, 255, 0.5);
    width: 75%;
}

table.center tbody {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
}

table.center tbody tr {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
}

table.center tbody tr th {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    display: table-cell;
    padding: 10px 7px;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

table.center tbody tr td {
    background-color: transparent;
    color: #d8b511;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.5);

}

.page-header {
    padding: 20px 20px 20px 40px;
}

.last-viewed {
    text-align: center;
}

.col1 {
    float:left;
    text-align: center;
    width: 33.33%;

}

.col2 {
    float:left;
    text-align: center;
    width: 33.33%;
    margin-top: 50px;

}

.col3 {
    float:left;
    text-align: center;
    width: 33.33%;

}

.col3 h3 {
    display: inline
}

.col3 p {
    display: inline;
}

.page-header:after {
    content: "";
    display: table;
    clear: both;
}

.restaurantss {
    height: 1080px;
    width: auto;
}

.comparator_input {
    margin: 10px;
}

.btn {
    background-color: #333333;
}

.text-info {
    color: #d8b511;
}

